#logoani {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 75vw auto;
    grid-template-areas: ". logo .";

    >div{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    // svg{
    //     overflow: hidden;
    // }
}