#logoani {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 70vw auto;
    grid-template-areas: ". logo .";

    >div{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    g{

        // #box {
        //     display: none;
        // }

        // #piping-bag {
        //     display: none;
        // }

        #squeezed-piping-bag {
            display: none;
        }

        #bottom-ribbon {
            display: none;
        }

        #top-ribbon {
            display: none;
        }

        // #frosting-1 {
        //     display: none;
        // }

        // #frosting-2 {
        //     display: none;
        // }

        // #frosting-3 {
        //     display: none;
        // }

        // #frosting-4 {
        //     display: none;
        // }

        // #box-word {
        //     display: none;
        // }

        // #sweet-word {
        //     display: none;
        // }

        // #thin-frosting-1 {
        //     display: none;
        // }

        // #thin-frosting-2 {
        //     display: none;
        // }

        // #thin-frosting-3 {
        //     display: none;
        // }

        // #thin-frosting-4 {
        //     display: none;
        // }

        // #motion-path {
        //     display: none;
        // }
    }
}